In [27]:
from IPython.display import display, HTML
display(HTML('<style>.container { width:90% !important; }</style>'))  # makes it wider
import pandas as pd
import numpy as np
from configs import conf
import psycopg2
from scipy import stats

In [2]:
import main

In [ ]:
main.main

In [147]:
normal_dist_query = """
                       SELECT
                            userdevices.brand as groups,
                            amount_usd,
                            CASE WHEN transactions_type = 'CARD_PAYMENT' THEN 1
                                 WHEN transactions_type = 'TRANSFER' THEN 0 END test_groups
                       FROM customeranalytics.public.transactions
                           LEFT JOIN (SELECT * FROM customeranalytics.public.userdevices) as userdevices
                           ON transactions.user_id = userdevices.user_id
                       WHERE transactions_type IN ('CARD_PAYMENT', 'TRANSFER')
""".replace("\r", " ").replace("\n", " ").replace(" ", "+")

beta_dist_query = """
                     SELECT
                          userdevices.brand as groups,
                          created_date::timestamp as created_date,
                          CASE WHEN total_amount_usd != 0 THEN amount_usd / total_amount_usd ELSE 0 END as ratio,
                          CASE WHEN transactions_type = 'CARD_PAYMENT' THEN 1
                               WHEN transactions_type = 'TRANSFER' THEN 0 END test_groups
                     FROM customeranalytics.public.transactions
                         LEFT JOIN (SELECT * FROM customeranalytics.public.userdevices) as userdevices
                             ON transactions.user_id = userdevices.user_id
                         LEFT JOIN (SELECT user_id, SUM(amount_usd) as total_amount_usd 
                                    FROM customeranalytics.public.transactions group by user_id) as total_values
                             ON transactions.user_id = total_values.user_id
                     WHERE transactions_type IN ('CARD_PAYMENT', 'TRANSFER')
""".replace("\r", " ").replace("\n", " ").replace(" ", "+")

binom_dist_query = """
                     SELECT
                         CASE WHEN basket is NULL THEN 0 ELSE basket END as basket,
                         is_control,
                         rfm
                     FROM abtestdb.public.designingtest
""".replace("\r", " ").replace("\n", " ").replace(" ", "+")

poisson_dist_query = """
                     SELECT
                         CASE WHEN basket is NULL THEN 0 ELSE basket END as basket,
                         is_control,
                         rfm
                     FROM abtestdb.public.designingtest
""".replace("\r", " ").replace("\n", " ").replace(" ", "+")

In [148]:
params = {'test_groups' : 'is_control',
'groups' :'groups',
'date' :'2020-08-03',
'feature' :'amount_usd',
'data_source' : 'postgresql',
'time_period' : 'Daily',
'time_indicator' : 'date',
'data_query_path' : poisson_dist_query}
params

{'test_groups': 'is_control',
 'groups': 'groups',
 'date': '2020-08-03',
 'feature': 'amount_usd',
 'data_source': 'postgresql',
 'time_period': 'Daily',
 'time_indicator': 'date',
 'data_query_path': '++++++++++++++++++++++SELECT++++++++++++++++++++++++++CASE+WHEN+basket+is+NULL+THEN+0+ELSE+basket+END+as+basket,++++++++++++++++++++++++++is_control,++++++++++++++++++++++++++rfm++++++++++++++++++++++FROM+abtestdb.public.designingtest+'}

In [ ]:
main.main(**params)

In [ ]:
import date
def date_part(date, part):
    if part == 'year':
        return date.year
    if part == 'quarter':
        return get_quarter(date)
    if part == 'month':
        return date.month
    if part == 'week':
        return date.isocalendar()[1]
    if part == 'week_part':
        return 1 if date.isoweekday() in [6, 7] else 0
    if part == 'week_day':
        return date.isoweekday()
    if part == 'day_part':
        return get_day_part(date.hour)
    if part == 'hour':
        return date.hour
    if part == 'min':
        return date.min
    if part == 'second':
        return date.second

In [ ]:
data = pd.DataFrame([{'a': True}, {'a': True}, {'a': False}])

In [ ]:

def read_params(directory):
    with open(join(directory, "docs", "test_parameters.yaml")) as file:
        config = yaml.full_load(file)
    return config

In [18]:
config = conf('config')
server, db, user, pw, port = str(config['db_connection']['server']), str(config['db_connection']['db']), \
                             str(config['db_connection']['user']), str(config['db_connection']['password']),\
                             int(config['db_connection']['port'])

{'dash_port': 7003, 'data_main_path': 'data', 'db_connection': {'data_source': 'postgresql', 'db': 'abtestdb', 'is_from_db': True, 'password': 1234, 'port': 5440, 'server': '127.0.0.1', 'user': 'mac'}, 'docker': '/', 'docs_main_path': 'docs', 'is_from_db': False, 'log_main_path': 'logs', 'model_main_path': 'models', 'output_file_name': 'results', 'port_ranges': '6000*7000', 'prediction_date': datetime.date(2020, 3, 1), 'server': '/tmp/mnt', 'train_end_date': datetime.date(2020, 1, 1), 'web_port': 7002}

In [19]:
conn = psycopg2.connect(user=user, password=pw, host=server, port=port, database=db)

In [50]:
data = pd.read_sql("SELECT * FROM designingtest", conn)
data

,session_id,client_id,date,is_control,session,basket,login,ordered,order_screen,rfm
0,1_id,18400_id,2019-08-05,0,1,NaN,NaN,NaN,NaN,3_1_2
1,2_id,11611_id,2019-08-05,1,1,NaN,NaN,NaN,NaN,1_1_3
2,3_id,12149_id,2019-08-05,1,1,NaN,NaN,NaN,NaN,1_1_3
3,4_id,12038_id,2019-08-05,1,1,NaN,1.0,NaN,NaN,1_1_3
4,5_id,12054_id,2019-08-05,1,1,1.0,1.0,NaN,1.0,1_1_3
...,...,...,...,...,...,...,...,...,...,...
361450,361454_id,3973_id,2020-08-03,0,1,NaN,NaN,NaN,NaN,1_1_4
361451,361455_id,5195_id,2020-08-03,0,1,NaN,NaN,NaN,NaN,1_1_4
361452,361456_id,2284_id,2020-08-03,0,1,NaN,NaN,NaN,NaN,1_1_4
361453,361457_id,136_id,2020-08-03,0,1,NaN,NaN,NaN,NaN,1_1_4
361454,361458_id,4027_id,2020-08-03,0,1,NaN,NaN,NaN,NaN,1_1_4

In [41]:
sum(data.fillna(0)['basket']) / len(data), len(data), sum(data.fillna(0)['basket'])

(0.14109640204174795, 361455, 51000.0)

In [49]:
stats.binom.ppf(0.01, len(data), sum(data.fillna(0)['basket']) / len(data)),  stats.binom.ppf(0.99, len(data), sum(data.fillna(0)['basket']) / len(data))

(50514.0, 51487.0)

In [51]:
sum(data.query("is_control == 1").fillna(0)['basket']) / len(data.query("is_control == 1")), 
len(data.query("is_control == 1")), sum(data.query("is_control == 1").fillna(0)['basket'])

(186893, 32453.0)

In [65]:
left_tail = stats.binom.ppf(0.05, 
                len(data.query("is_control == 1")), 
                sum(data.query("is_control == 1").fillna(0)['basket']) / len(data.query("is_control == 1")))
right_tail = stats.binom.ppf(0.99, 
                len(data.query("is_control == 1")), 
                sum(data.query("is_control == 1").fillna(0)['basket']) / len(data.query("is_control == 1")))
left_tail, right_tail

(32184.0, 32834.0)

In [74]:
sum(data.query("is_control == 1").fillna(0)['basket'])

32453.0

In [80]:
stats.binom.cdf(32184.0, len(data.query("is_control == 1")), sum(data.query("is_control == 1").fillna(0)['basket']) / len(data.query("is_control == 1")))

0.05042879581373488

In [88]:
data

,session_id,client_id,date,is_control,session,basket,login,ordered,order_screen,rfm
0,1_id,18400_id,2019-08-05,0,1,NaN,NaN,NaN,NaN,3_1_2
1,2_id,11611_id,2019-08-05,1,1,NaN,NaN,NaN,NaN,1_1_3
2,3_id,12149_id,2019-08-05,1,1,NaN,NaN,NaN,NaN,1_1_3
3,4_id,12038_id,2019-08-05,1,1,NaN,1.0,NaN,NaN,1_1_3
4,5_id,12054_id,2019-08-05,1,1,1.0,1.0,NaN,1.0,1_1_3
...,...,...,...,...,...,...,...,...,...,...
361450,361454_id,3973_id,2020-08-03,0,1,NaN,NaN,NaN,NaN,1_1_4
361451,361455_id,5195_id,2020-08-03,0,1,NaN,NaN,NaN,NaN,1_1_4
361452,361456_id,2284_id,2020-08-03,0,1,NaN,NaN,NaN,NaN,1_1_4
361453,361457_id,136_id,2020-08-03,0,1,NaN,NaN,NaN,NaN,1_1_4
361454,361458_id,4027_id,2020-08-03,0,1,NaN,NaN,NaN,NaN,1_1_4

In [89]:
sample1, sample2 = list(data.query("is_control == 1")['rfm']), list(data.query("is_control == 1")['rfm'])

In [99]:
_unique, counts = np.unique(sample1+sample2, return_counts=True)

In [107]:
_lookups = {i[0][1]: i[1] for i in list(zip(reversed(sorted(list(zip(counts, _unique)))), range(len(_unique))))}
_lookups

{'1_1_4': 0,
 '2_1_3': 1,
 '2_1_4': 2,
 '2_1_2': 3,
 '2_2_2': 4,
 '3_2_2': 5,
 '3_3_2': 6,
 '3_3_1': 7,
 '4_4_1': 8,
 '3_4_1': 9,
 '2_2_3': 10,
 '1_1_3': 11,
 '3_2_3': 12,
 '3_4_2': 13,
 '3_2_1': 14,
 '3_1_2': 15,
 '3_1_3': 16}

In [108]:
sample1 = list(map(lambda x: _lookups[x], sample1))
sample1

[11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 ...]

In [131]:
_unique, counts = np.unique(sample1, return_counts=True)
mu = sum(list(map(lambda x: x[0]*x[1], zip(_unique, counts)))) / len(sample1)
alpha = 0.99

In [141]:
sample2 = list(map(lambda x: _lookups[x], sample2))
_unique, counts = np.unique(sample2, return_counts=True)

KeyError: 11

In [142]:
lambda_value = sum(list(map(lambda x: x[0]*x[1], zip(_unique, counts)))) / len(sample2)

In [144]:
lambda_value, mu

(1.3537211131503053, 1.3537211131503053)

In [128]:
left_tail = stats.poisson.ppf(1 - alpha, mu)
right_tail = stats.poisson.ppf(alpha, mu)
left_tail, right_tail

(0.0, 5.0)

In [146]:
p_value = stats.poisson.cdf(lambda_value, mu)
p_value

0.6079129479815633